@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-fg: 28 28 28;
    --color-bg: 234 206 171;
    --color-accent: 98 97 70;
    color: rgb(var(--color-fg));
    background-color: rgb(var(--color-bg));
    transition: background-color 0.3s;
  }

  :root[data-theme="dark"] {
    --color-fg: 234 206 171;
    --color-bg: 28 28 28;
    --color-accent: 28 28 28;
  }

}

@layer utilities {
  /* custom variant of normal `shadow` with 0 x/y offset */
  .shadow-flat {
    box-shadow: inset 0 0 1.5px var(--tw-shadow-color);
  }
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}
*, *::before, *::after { box-sizing: border-box; }

html, body { height: 100%; }

body { -webkit-font-smoothing: antialiased; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
